<card>
  <div class="group-template">
    <div class="group-template__content">
      <div class="group-template__title">
        <span class="group-template__name"> Grupo {{ group.code }} </span>
        &nbsp; • &nbsp;
        <span class="group-template__level"> Nivel {{ group.level }} </span>
      </div>
      <div class="group-template__pensum">
        Plan de estudios:
        <span class="group-template__pensum-name">
          {{ group.curriculumName }}
        </span>
      </div>
      <div class="group-template__schedule">
        <span class="group-template__schedule-label"> Horario: </span>
        <zb-tags>
          <span>
            {{ group.scheduleStatus }}
          </span>
        </zb-tags>
      </div>
    </div>
    <div class="group-template__actions">
      <div class="group-template__action">
        <span
          class="material-icons group-template__edit-icon"
          (click)="group.active ? deactivateSubjects() : searchSubjects.emit()"
          [ngClass]="{ active: group.active }"
        >
          edit
        </span>
      </div>
      <div class="group-template__action">
        <span class="material-icons-outlined"> calendar_today </span>
      </div>
      <div class="group-template__action">
        <span class="material-icons"> cancel </span>
      </div>
    </div>
    <div
      class="group-template__part-day"
      [style.background-color]="group.studyDayColor"
    >
      <span class="group-template__study-day-name">{{
        group.studyDayName
      }}</span>
    </div>
  </div>
  <div
    class="subject-list"
    [ngClass]="{ active: group.active, inactive: !group.active }"
  >
    <table class="subject-list__table" cellSpacing="0">
      <thead>
        <tr>
          <td></td>
          <td>Asignatura</td>
          <td>Docente</td>
          <td>Cupo</td>
          <td>Ocupación</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of group.subjects">
          <td>
            <input
              type="checkbox"
              [checked]="subject.status"
              (change)="
                alterSubject(
                  'status',
                  status.checked ? 'ACTIVE' : 'INACTIVE',
                  subject.id
                )
              "
              #status
            />
          </td>
          <td>{{ subject.subjectName }}</td>
          <td class="subject-list__teacher-name">
            <zb-autocomplete [options]="teachers"></zb-autocomplete>
          </td>
          <td class="subject-list__capacity">
            <zb-form-field [viewArrowsNumber]="true">
              <input
                type="number"
                zbInput
                [value]="subject.capacity"
                maxlength="99"
                (change)="alterSubject('capacity', +capacity.value, subject.id)"
                #capacity
              />
            </zb-form-field>
          </td>
          <td>{{ subject.enrolledQuantity }}</td>
        </tr>
      </tbody>
    </table>
    <div class="subject-list__footer">
      <button
        zbButton
        variant="outline"
        size="sm"
        (click)="deactivateSubjects()"
      >
        Cancelar
      </button>
      <button zbButton size="sm" (click)="update()">Guardar</button>
    </div>
  </div>
</card>
