<ng-container *ngFor="let group of groups">
  <div class="group">
    <group
      [group]="group"
      (searchSubjects)="searchSubjects.emit(group.id)"
      (updateSubjects)="
        updateSubjects.emit({ groupId: group.id, subjects: $event })
      "
      [teachers]="teachers"
    ></group>
  </div>
</ng-container>
